@tailwind base;
@tailwind components;
@tailwind utilities;

html, * {
    scroll-behavior: smooth;
}

#about ul li::before {
    content: '\2022';
    color: black;
    font-weight: 900;
    display: inline-block;
    width: 1em;
    margin-left: 0;
}